html {
  min-height: 100%;
}

body {
  background: #0f2027;
  background: linear-gradient(45deg, #203a43, #162f3a, #3f687a);
}

.navbar-default {
  border-bottom: solid white 1px;
}

.navbar-default ul .navbar-brand {
  opacity: 1;
}

.navbar-default ul img {
  height: 50px;
  margin: 16px;
  opacity: 0.5;
}

.navbar-default ul img .logo {
  opacity: 1;
}

.navbar-default ul img:hover {
  opacity: 1;
}

#login h3 {
  color: #f7f7f7;
  margin-top: 40px;
}

#login label {
  color: #adabab;
}

#login .btn {
  background-color: #adabab;
  border-color: #adabab;
  color: #162f3a;
  margin-top: 60px;
}

#login .btn:hover {
  background-color: #f7f7f7;
  border-color: #f7f7f7;
  color: #5e5e5f;
  -webkit-box-shadow: 10px 12px 22px -3px rgba(5, 15, 15, 0.76);
          box-shadow: 10px 12px 22px -3px rgba(5, 15, 15, 0.76);
}

#login a {
  color: #adabab;
  text-decoration: none;
}

#login a:hover {
  color: #f7f7f7;
}

#register .container h3 {
  color: #f7f7f7;
  margin-top: 40px;
}

#register .container label {
  color: #adabab;
}

#register .container .btn {
  background-color: #adabab;
  border-color: #adabab;
  color: #162f3a;
  margin-top: 60px;
}

#register .container .btn:hover {
  background-color: #f7f7f7;
  border-color: #f7f7f7;
  color: #5e5e5f;
  -webkit-box-shadow: 10px 12px 22px -3px rgba(5, 15, 15, 0.76);
          box-shadow: 10px 12px 22px -3px rgba(5, 15, 15, 0.76);
}

#register .container a {
  color: #adabab;
  text-decoration: none;
}

#register .container a:hover {
  color: #f7f7f7;
}

.breadcrumb {
  border: solid #f7f7f7 0.1px;
  border-radius: 25px;
  background-color: transparent;
}

.breadcrumb .breadcrumb-item {
  color: #f7f7f7;
}

.breadcrumb .breadcrumb-item a {
  color: #adabab;
}

.list-group a {
  color: white;
  margin-top: 40px;
}

.list-group a h3 {
  font-size: 40px;
  opacity: 0.8;
}

.list-group a h3:hover {
  opacity: 1;
}

.list-group span {
  color: #f7f7f7;
  margin: 16px;
}

.list-group .list-group-item {
  background-color: none;
  border-radius: 8px;
  border: none;
  margin: 16px;
}

.list-group .list-group-item img {
  height: 50px;
  margin: 16px;
  opacity: 0.5;
}

.list-group .list-group-item .nav-link {
  color: #5e5e5f;
  background: #f7f7f7;
  border-radius: 8px;
}

.list-group .list-group-item .nav-link:hover {
  -webkit-box-shadow: 10px 12px 22px -3px rgba(46, 140, 143, 0.5);
          box-shadow: 10px 12px 22px -3px rgba(46, 140, 143, 0.5);
}

.list-group .list-group-item .nav-link:hover img {
  opacity: 1;
}

.list-group .list-group-item .nav-link:hover h4 {
  color: black;
  opacity: 0.8;
}

.list-group .list-group-item p {
  color: black;
  font-size: 20px;
  margin-top: 16px;
}

.list-group .list-group-item .signature p {
  color: #5e5e5f;
  font-size: 14px;
  text-align: left;
  margin-left: 24px;
  margin-top: 24px;
}

.list-group .list-group-item h2 {
  color: #5e5e5f;
  font-size: 32px;
}

.list-group .list-group-item .circle img {
  height: 100px;
  border: 4px solid #adabab;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  opacity: 1;
}

.list-group .list-group-item .deletedit img {
  opacity: 1;
  height: 20px;
  margin: 0px;
}

.list-group .list-group-item .send img {
  opacity: 1;
  height: 30px;
}

.list-group .list-group-item textarea {
  border: solid 1px #adabab;
}

.list-group .list-group-item h5 {
  color: #adabab;
  text-align: right;
  font-size: 14px;
}

.container h3 {
  color: white;
  font-size: 40px;
}

.container .list-group-item .row .message {
  border-radius: 8px 8px 8px 0px;
}

.container span {
  color: #f7f7f7;
}

.list-group .card-body h4 {
  color: #f7f7f7;
}

.list-group .card-body label {
  color: #adabab;
}

.col-md-2 {
  vertical-align: bottom;
}

.col-md-2 .btn {
  background-color: #5e5e5f;
  border-color: #5e5e5f;
}

.form-control {
  height: 32px;
}

.emoji-menu {
  top: 0;
}

.emoji-picker-icon {
  color: white;
}
/*# sourceMappingURL=style.css.map */