$first-color: rgb(173, 171, 171);
$light-color: rgb(247, 247, 247);
$darker-color: rgb(94, 94, 95);

$bg-color: rgb(226, 226, 226);

$darkershadow: (10px 12px 22px -3px rgba(5, 15, 15, 0.76));
$darkshadow: (10px 12px 22px -3px rgba(46, 140, 143, 0.5));
$lightshadow: (10px 12px 22px -3px rgb(223, 219, 219));

html{
  min-height: 100%;
}
body {
  background: #0f2027;
  background: linear-gradient(45deg, #203a43, #162f3a, rgb(63, 104, 122));
}

//NAVBAR

.navbar-default {
  border-bottom: solid white 1px;
  ul {
    .navbar-brand {
      opacity: 1;
    }
    img {
      height: 50px;
      margin: 16px;
      opacity: 0.5;
      .logo {
        opacity: 1;
      }
    }
    img:hover {
      opacity: 1;
    }
  }
}

//LOGIN
#login{
  h3{
    color: $light-color;
    margin-top: 40px;
  }
  label{
    color: $light-color;
  }
  .btn{
    background-color: $darker-color ;
    border-color: $darker-color;
    color: $light-color;
    margin-top: 60px;
  }
  .btn:hover{
    background-color: $light-color;
    border-color: $light-color;
    color: $darker-color;
    box-shadow: $darkershadow;
  }
  a{
    color: $first-color;
    text-decoration: none;
  }
  a:hover{
    color: $light-color;
  }
}

//BREADCRUMB
.breadcrumb{
  border: solid $light-color 0.1px;
  border-radius: 25px;
  background-color: transparent;
  .breadcrumb-item{
    color: $light-color;
    a{
      color: $first-color;
    }
  }
}

//BOARDS

.list-group {

    a {
      color: white;
      margin-top: 40px;
      h3 {
        font-size: 40px;
        opacity: 0.8;
      }
      h3:hover {
        opacity: 1;
      }
    }
    span {
      color: $light-color;
      margin: 16px;

  }

  .list-group-item {
    background-color: none;
    border-radius: 8px;
    border: none;
    margin: 16px;
    img {
      height: 50px;
      margin: 16px;
      opacity: 0.5;
    }
    .nav-link {
      color: $darker-color;
      background: $light-color;
      border-radius: 8px;
    }
    .nav-link:hover {
      box-shadow: $darkshadow;
      img {
        opacity: 1;
      }
      h4 {
        color: black;
        opacity: 0.8;
      }
    }
    p {
      color: $first-color;
      text-align: right;
    }
  }
}

//TOPICS

.container {
  h3 {
    color: white;
    font-size: 40px;
  }
  .list-group-item {
    .row {
      .message {
        border-radius: 8px 8px 8px 0px;
      }
    }
  }
  span{
    color:$light-color;
  }
}

//NEW TOPIC
.list-group{
  .card-body{
    h4{
      color: $light-color;
    }
    label{
      color: $first-color;
    }
  }
}

//NEW MESSAGE
.col-md-2 {
  vertical-align: bottom;
  .btn {
    background-color: $darker-color;
    border-color: $darker-color;
  }
}

.form-control {
  height: 32px;
}
//FOOT
