
$first-color: rgb(173, 171, 171);
$light-color: rgb(247, 247, 247);
$darker-color: rgb(94, 94, 95);

$bg-color: rgb(226, 226, 226);

$darkshadow : (10px 12px 22px -3px rgba(46, 140, 143, 0.5));
$lightshadow: (10px 12px 22px -3px rgb(223, 219, 219));


body{
  background: #0F2027;
  background: linear-gradient(45deg,  #203A43, #0F2027,rgb(63, 104, 122));

}

//NAVBAR

.navbar-default{
  border-bottom: solid white 1px;
  ul{
    .navbar-brand{
      opacity: 1;
    }
    img{
      height: 50px;
      margin: 16px;
      opacity: 0.5;
      .logo{
        opacity: 1;
      }
    }
    img:hover{
      opacity: 1;
    }
  }
}


//BOARDS

.list-group{
  .board{
    a{
      color: white;
      margin-top: 40px;
      h3{
        font-size: 40px;
        opacity: 0.8;
      }
      h3:hover{
        opacity:1;
      }
    }
  }

  .list-group-item{
    
      background-color: none;
      border-radius: 8px;
      border: none;
      margin:16px;
    img{
      height: 50px;
      margin: 16px;
      opacity: 0.3;
    }

    span{
      color: $darker-color;
      margin: 16px;
    }
    a{
      color: $darker-color;
      background: $light-color;
      border-radius: 8px;
        
    }
    .nav-link:hover{
      box-shadow: $darkshadow;
      img{
        opacity:0.8;
      }
      h4{
        color: black;
        opacity:0.8;
      }
    }
    p{
      color: $first-color;
      text-align: right;
    }

  }
}

//TOPICS

.container{
  h3{
    color:white;
    font-size: 40px;
  }
  .list-group-item{
    .row{
      .message{
        border-radius: 8px 8px 8px 0px;
      }
    }
  }
}

//NEW MESSAGE
.col-md-2{
  vertical-align: bottom;
  .btn{
    background-color: rgb(63, 104, 122);
  }
}


.form-control{
  height: 32px;
}
//FOOT

